<po-page-default [p-title]="menuItemSelected">
  <div class="po-row">
    <div class="po-xl-6 po-lg-6 po-md-12 po-sm-12">
      <div class="container-text">Layout TSS<img class="icon-header" src="../../../../favicon.ico" width= 30px></div>

      <po-code-editor
        [(ngModel)]="xmlUnico"
        p-height="484"
        [p-language]="language"
        [p-readonly]="editar"
        [p-theme]="theme">
      </po-code-editor>

    </div>

    <div class="po-xl-6 po-lg-6 po-md-12 po-sm-12">
      <div class="container-text">Layout Prefeitura<span class="icon-header po-icon po-icon-company"></span></div>

        <po-code-editor
          [(ngModel)]="xmlPrefeitura"
          p-height="484"
          [p-language]="language"
          [p-readonly]="editar"
          [p-theme]="theme"
        >
        </po-code-editor>


      <div class="container">
        <div class="divfooter">
          <h4 class="footer-text">Municipio: <b class="dados">{{ municipio }}</b></h4>
          <h4 class="footer-text">Versão:    <b class="dados">{{ versao }}</b></h4>
          <h4 class="footer-text">Provedor:  <b class="dados">{{ provedor }}</b></h4>
        </div>

        <div class="footer-icon">
          <span class="icon po-icon po-icon-edit" (click)="ToEdit()"></span>
          <span class="icon po-icon po-icon-ok" (click)="ToSave($event)"></span>
          <span class="icon po-icon po-icon-delete"></span>
          <span class="icon po-icon po-icon-xml"></span>
          <span class="icon po-icon po-icon-pdf"></span>
        </div>
    </div>
    </div>

  </div>

</po-page-default>
