
<po-toolbar p-title="TSS - NFS-e" [p-show-notification]="false"></po-toolbar>

<po-page-default [p-title]="menuItemSelected">
  <div class="po-row">
    <div class="po-xl-6 po-lg-6 po-md-12 po-sm-12">
      <div class="container-text">Layout TSS<img class="icon-header" src="../../../../favicon.ico" width= 30px></div>
      <div class="xmlgrid"></div>

      <div class="container">
        <div class="divfooter">
          <h4 class="footer-text">Munici­pio:  <b class="dados">Belo Horizonte - MG </b></h4>
          <h4 class="footer-text">Versão:     <b class="dados">1.00</b></h4>
          <h4 class="footer-text">Provedor:   <b class="dados">Próprio_2****</b></h4>
        </div>

        <div class="footer-icon">
          <span class="icon po-icon po-icon-edit"></span>
          <span class="icon po-icon po-icon-ok"></span>
          <span class="icon po-icon po-icon-delete"></span>
          <span class="icon po-icon po-icon-xml"></span>
          <span class="icon po-icon po-icon-pdf"></span>
        </div>

      </div>
    </div>

    <div class="po-xl-6 po-lg-6 po-md-12 po-sm-12">
      <div class="container-text">Layout Prefeitura<span class="icon-header po-icon po-icon-company"></span></div>
      <div class="xmlgrid"></div>

      <div class="container">
        <div class="divfooter">
          <h4 class="footer-text">Municipio: Belo Horizonte</h4>
          <h4 class="footer-text">Versão: 1.00</h4>
          <h4 class="footer-text">Provedor: Próprio_2****</h4>
        </div>

        <div class="footer-icon">
          <span class="icon po-icon po-icon-edit"></span>
          <span class="icon po-icon po-icon-ok"></span>
          <span class="icon po-icon po-icon-delete"></span>
          <span class="icon po-icon po-icon-xml"></span>
          <span class="icon po-icon po-icon-pdf"></span>
        </div>
    </div>
    </div>

  </div>

</po-page-default>
