<po-page-default [p-title]="menuItemSelected">
  <div>
    <figure>
      <img src="../../../assets/imagens//nfse_nacional.png" width= 233px height=172px >
    </figure>

    <div class="po-row container-widget-cert po-mt-5">
      <po-widget  class="widget-card po-xl-5 po-lg-5 po-md-5 po-sm-5" p-height="150" p-no-border="false" routerLink="/configurar">
        <div class="widget-text po-font-subtitle po-text-center">
          <span class="po-icon po-icon-settings po-font-subtitle po-text-center"></span>Configurar</div>
      </po-widget>

      <po-widget (click)="widgetClicadoDocumetacao()" class="widget-card po-xl-5 po-lg-5 po-md-5 po-sm-5" p-height="150">
        <div class="widget-text po-font-subtitle po-text-center">
          <span class="po-icon po-icon-document-filled po-font-subtitle"></span>Documentação</div>
      </po-widget>
    </div>
  </div>
</po-page-default>


