<meta charset="UTF-8"/>
<po-page-default [p-title]="menuItemSelected">

<div class="po-row">

<div class="p-label po-xl-4 po-lg-4 po-md-4 po-sm-4">
    <br>
    <label>Informe o codigo do Municipio (IBGE) que deseja configurar:</label>
    <br><br>

    <po-input p-icon="po-icon po-icon-search" class="comboPesquisa"
    name="input"
    [(ngModel)]="Municipio"
    (ngModelChange)="Municipio = $event"
    p-auto-focus="true"
    (p-change)="onClick_Pesquisa($event)"
    p-clean="true"
    p-label=""
    p-mask="9999999"
    >
  </po-input>
<!--
  <po-combo p-icon="po-icon po-icon-search" class="comboPesquisa"
    name="combo"
    [(ngModel)]="xmlUnico3"
    (ngModelChange)="comboPesquisa = $event"
    (click)="onClick_Pesquisa($event)"
    (p-change)="onClick_Pesquisa($event)"
    p-change-on-enter="false"
    p-disabled-init-filter="true"
    p-disabled-tab-filter="false"
    p-emit-object-value="true"
  >
  </po-combo>
-->
  <div class="divfooter">
      <h4 class="footer-text">Município: <b class="dados">{{ xmlUnico3.DESC_MUN }}</b></h4>
      <h4 class="footer-text">Estado:   <b class="dados">{{ xmlUnico3.UF }}</b></h4>
      <h4 class="footer-text">Versão:   <b class="dados">{{ xmlUnico3.VERSAO }}</b></h4>
  </div>

  <figure>
    <img src="../../../assets/imagens//nfse_nacional.png" alt="Logo NFS-e" width= 250px height=230px>
  </figure>

</div>

  <div class="po-xl-8 po-lg-8 po-md-8 po-sm-8">

    <div>
      <span class="po-icon po-icon-home" (click)="onClick_Home()"></span><br>
      <po-table
      [(ngModel)]="xmlUnico3"
      [p-actions]="Detalhes"
      [p-actions-right]="true"
      p-container="border"
      [p-columns]="columns"
      [p-items]="items"
      [p-striped]="true"
      [p-hide-text-overflow]="true"

      >
      </po-table>
    </div>
    <br>
    <span class="po-icon po-icon-xml" (click)="onClick_Export()"></span><br>
  </div>

</div>
</po-page-default>
