<po-page-default [p-title]="menuItemSelected">

<div class="po-row">

  <div class="p-label po-xl-4 po-lg-4 po-md-4 po-sm-4">
    <br>
    <label>Informe o codigo do Munici­pio (IBGE) que deseja configurar:</label>
    <br><br>

    <po-lookup
    name="lookup"
    p-field-label="label"
    p-field-value="value"
    p-filter-service="https://po-sample-api.herokuapp.com/v1/heroes"
    p-label=""
    p-placeholder="3550308"
    p-border="10"
    >
    </po-lookup>
    <br>
    <label>Munici­pio:</label>
    <label style="color:black;"> Sao Paulo</label>

    <br>
    <label>Estado:</label>
    <label style="color:black;"> SP</label>

    <br>
    <label>Versao:</label>
    <label style="color:black;"> 1.00</label>

    <br><br>

    <figure>
      <img src="../../../assets/imagens//nfse_nacional.png" alt="Logo NFS-e" width= 250px height=230px>
    </figure>

  </div>

  <div class="po-xl-8 po-lg-8 po-md-8 po-sm-8">

    <div>
      <span class="po-icon po-icon-home" (click)="onClick_Home()"></span><br>
      <po-table
      [p-actions]="Detalhes"
      [p-actions-right]="true"
      p-container="shadow"
      [p-columns]="columns"
      [p-items]="items"
      [p-striped]="true"
      >
      </po-table>
    </div>

  </div>

</div>
</po-page-default>
