.sample-menu-header-text-color {
  color: #0c9abe;
}
figure{
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 50px;
  margin-right: 50px;
}

.widget-card:hover {
  margin-top: 1%;
  border: 4px solid #0c9abe;
  padding: 0px;
  padding-bottom: 0px 0px 0px 0px;
  background:  #0c9abe;
  transition: 1s;
}
.label {
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #0c9abe;
  top:45%;
  left: 35%;
}

label{
  text-align: right;
  color: #0c9abe;
}
span{
  float: right;
  color: #0c9abe;
}

po-grid {
  display: grid;
}

.footer-text{
  color: #0c9abe;
}
.dados{
  color: black;
}
.dadosVersao{
  color: rgb(235, 11, 11);
}
